<!DOCTYPE html>
<html lang="de">

	<head>
		<meta charset="UTF-8">
		<title>
			About
		</title>
	</head>
	
	<body>
		<div data-role="page" id="tutorial" data-theme="d">

			<div data-role="header" data-position="fixed">

				<a href="#nav-panel" data-icon="bars" data-iconpos="notext">Menu</a>
				<h1>Bread Tutorial</h1>
			</div>
			<div data-role="content">
				<h1>Sourdough</h1>
				<p>&copy; 2014 <a href="mailto:misterrios@gmail.com"></a>Daniel Rios</a></p>
				 
				
			</div>
			
			
			
			
			

<!--NAVIGATION BEGINS-->

			<div data-role="panel" data-position-fixed="true" data-display="overlay" data-theme="b" id="nav-panel">
				<ul data-role="listview">
					<li data-icon="delete"><a href="#" data-rel="close">Close menu</a></li>
					
					<li data-icon="home"><a href="index.html">Start</a></li>
					<li></li>
					<li><h3>Destinations</h3></li>
					<li><a href="tutorial.html">Bread Tutorial</a></li>
					<li><a href="recipes.html">My Recipes</a></li>
					<li></li>
					<li><h3>Calculators</h3></li>
					<li><a href="feeding.html">Sourdough Feeding</a></li>
					<li><a href="basic.html">Basic Recipe</a></li>
					<li><a href="percents.html">Baker's Percentages</a></li>
					<li></li>	
					<li><a href="about.html" data-transition="slidedown">About</a></li>	
					<li><a href="prefs.html">Preferences</a></li>		
				</ul>
			</div>
<!--NAVIGATION END-->
			
		</div><!-- page ends here -->
		
		
	</body>
	
</html>
