<!DOCTYPE html>
<html lang="de">

	<head>
		<meta charset="UTF-8">
		<title>
			Troubleshooting
		</title>
	</head>
	
	<body>
		
			<div data-role="dialog" id="trouble">
				<div data-role="header" data-theme="a">
					<h1>Troubleshooting</h1>
				</div>
				
				<div data-role="content">
					<div data-role="controlgroup">
						<div data-role="collapsible">
						    <h4>Dough not rising</h4>
						    <p>Sometimes Sourdough needs a little bit more time than usual. Give it more time.</p>
						</div>
						<div data-role="collapsible">
						    <h4>Dough comes apart</h4>
						    <p>If the dough was elastic and pliable, and is now come apart, either you overmixed it, which is easy to do by machine, or you left it to rise way too long. In which case, take 300 grams and start over.</p>
						</div>
						<div data-role="collapsible">
						    <h4>Dough very ugly</h4>
						    <p>There's no helping this one, some doughs are born naturally ugly.</p>
						</div>
						<div data-role="collapsible">
						    <h4>Dough rising too fast</h4>
						    <p>The room is too warm. Move the dough to a cooler room.</p>
						</div>
					</div>
				</div>

			</div>
		
	</body>