<!DOCTYPE html>
<html lang="de">

	<head>
		<meta charset="UTF-8">
		<title>
			Bread Tutorial
		</title>
	</head>
	
	<body>
		<div data-role="page" id="tutorial" data-theme="d">

			<div data-role="header" data-position="fixed">

				<a href="#nav-panel" data-icon="bars" data-iconpos="notext">Menu</a>
				<h1>Bread Tutorial</h1>
			</div>
			<div data-role="content">
				<div id="one">
				<h1>Making your first loaf</h1>
					<p>Sourdough bread isn't the easiest to make. But because it has a lower glycemic index it is healthier for you, and because it has a bit of sourness, it tastes a whole lot better than yeasted bread, especially if you make it yourself.</p>
					<div data-role="controlgroup" data-type="horizontal"><a href="#two">Next</a>
					</div>
				</div>

				<div id="two">
					<h1>First, you need to assemble your ingredients</h2>
						<p> Make sure you use quality flour, since this is the main ingredient in your bread.</p>
						<p>Measure out 500g flour into a bowl, pour in 375g water, as well as 150g sourdough.</p>
						<p>Mix these ingredients together until they come together and set aside for twenty minutes</p>
						<p>Measure out 10 grams of sea salt and set aside.</p>
						<p>At the end of the 20 minutes, pour the salt in and mix for about a half minute.</p>
						<p>Although we are not going to knead our dough, we are also not going to no-knead it. </p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
						<p></p>
							





				<div data-role="controlgroup" data-type="horizontal"><a href="#two">Next</a>
				</div>



<h1>
Assemble
				
			</div>
			
			<div data-role="footer" data-position="fixed" >
				<div data-role="navbar" data-theme="d">
    				<ul>
       					<li><a href="trouble.html" class="ui-btn-active" data-transition=slidedown>Troubleshooting</a></li>
    				</ul>
				</div>
			</div>
			
			
			

<!--NAVIGATION BEGINS-->

			<div data-role="panel" data-position-fixed="true" data-display="overlay" data-theme="b" id="nav-panel">
				<ul data-role="listview">
					<li data-icon="delete"><a href="#" data-rel="close">Close menu</a></li>
					
					<li data-icon="home"><a href="index.html">Start</a></li>
					<li></li>
					<li><h3>Destinations</h3></li>
					<li><a href="tutorial.html">Bread Tutorial</a></li>
					<li><a href="recipes.html">My Recipes</a></li>
					<li></li>
					<li><h3>Calculators</h3></li>
					<li><a href="feeding.html">Sourdough Feeding</a></li>
					<li><a href="basic.html">Basic Recipe</a></li>
					<li><a href="percents.html">Baker's Percentages</a></li>
					<li></li>	
					<li><a href="about.html">About</a></li>	
					<li><a href="prefs.html">Preferences</a></li>		
				</ul>
			</div>
<!--NAVIGATION END-->
			
		</div><!-- page ends here -->
		
		
	</body>
	
</html>
